button{
    background-color:darkgray;
}
img{
    width: 60%;
    length:70%;
    float: unset;
}
mat-card{
    width:30%;
    length:60%;
    background-color:rgb(218, 228, 236);
}
div.header{
   float: top;
}